body {
  margin: 0;
  transition: 0.3s;
  background: #f5f7fb;
}

.theme-toggle {
  position: fixed;
  top: 18px;
  right: 20px;
  z-index: 9999;

  border: none;
  border-radius: 50%;

  width: 48px;
  height: 48px;

  font-size: 22px;
  cursor: pointer;

  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);

  transition: .25s;
}

.theme-toggle:hover{
  transform: scale(1.08);
}

body.dark{
  background:#111827;
  color:white;
}

body.dark .chat-container{
  background:#111827;
}

body.dark .chat-header{
  background:#1f2937;
  color:white;
}

body.dark .chat-input{
  background:#1f2937;
  color:white;
  border:1px solid #374151;
}

body.dark .ai-message{
  background:#1f2937;
  color:white;
  border:1px solid #374151;
}

body.dark .message code{
  background:#374151;
  color:#93c5fd;
}

body.dark .theme-toggle{
  background:#1f2937;
}