* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
  font-family: inherit;
}